<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981250648062-hfnld6vmeet35f0ru4hf5stl6dqle2qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981250648062-hfnld6vmeet35f0ru4hf5stl6dqle2qe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981250648062-8sk3bp0u2l7muru2il6v1hvb6adhpbgc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYbto8OhlefqJIeqKbacx5zsNPUmzwLUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981250648062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-project-376ed</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-376ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981250648062:ios:b220013b524b050b1bc2af</string>
</dict>
</plist>